RewriteEngine On

RewriteRule ^\.(env|git|gitignore|docker) - [F,L]

<FilesMatch "^(composer\.(json|lock)|\.env|\.gitignore|docker-compose\.yml)$">
    Order allow,deny
    Deny from all
</FilesMatch>

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^ index.php [QSA,L]

Options -Indexes

AddDefaultCharset utf-8