<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^(?!router\.php).*\.php$ - [F,L]

    <FilesMatch "^\.">
        Require all denied
    </FilesMatch>

    <FilesMatch "\.(env|ini|log|sh|sql|json|lock|dist)$">
        Require all denied
    </FilesMatch>

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    RewriteRule ^(.*)$ router.php [QSA,L]
</IfModule>

Options -Indexes

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set X-Frame-Options "DENY"
</IfModule>